{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Свадьба Влада и Кати 11.09.2021</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Свадьба Влада и Кати 11.09.2021"/>
    <meta name="keywords" content="Свадьба"/>
    <meta name="author" content="Влад"/>

    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by QBOOTSTRAP.COM

      Website: 		http://qbootstrap.com/
      Email: 			info@qbootstrap.com
      Twitter: 		http://twitter.com/Q_bootstrap
      Facebook: 		https://www.facebook.com/Qbootstrap
      //////////////////////////////////////////////////////
       -->

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <style>

        @font-face {
            font-family: 'simple-line-icons';
            src: url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.eot' %}'),
            url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.eot' %}&#iefix&v=2.2.2') format('embedded-opentype'),
            url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.ttf' %}&v=2.2.2') format('truetype');
        url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.woff2' %}&v=2.2.2') format('woff2'),
        url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.woff' %}&v=2.2.2') format('woff'),
        url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.svg' %}&v=2.2.2#simple-line-icons') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Simple Line Icons -->
    <style>
        @font-face {
            font-family: 'simple-line-icons';
            src: url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.eot' %}'),
            url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.eot' %}&#iefix&v=2.2.2') format('embedded-opentype'),
            url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.ttf' %}&v=2.2.2') format('truetype'),
            url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.woff2' %}&v=2.2.2') format('woff2'),
            url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.woff' %}&v=2.2.2') format('woff'),
            url('{% static 'fonts/simple-line-icons/Simple-Line-Icons.svg' %}&v=2.2.2#simple-line-icons') format('svg');
            font-weight: normal;
            font-style: normal;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <!-- Magnific popup  -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body>
<header role="banner" id="qbootstrap-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-qbootstrap-nav-toggle qbootstrap-nav-toggle" data-toggle="collapse"
                   data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="{% url 'index' %}">Свадьба</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#" data-nav-section="home"><span>В начало</span></a></li>
                    <li><a href="#" data-nav-section="groom-bride"><span>Жених и невеста</span></a></li>
                    <li><a href="#" data-nav-section="story"><span>Love Story</span></a></li>
                    <li><a href="#" data-nav-section="people"><span>Команды</span></a></li>
                    <li><a href="#" data-nav-section="when-where"><span>Где и когда</span></a></li>
                    <li><a href="#" data-nav-section="rsvp"><span>Как добраться?</span></a></li>
                    <li><a href="#" data-nav-section="gallery"><span>Галерея</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>

<div class="qbootstrap-hero" data-section="home">
    <div class="qbootstrap-overlay"></div>
    <div class="qbootstrap-cover text-center" data-stellar-background-ratio="0.5"
         style="background-image: url('{% static 'images/cover_bg_3.jpg' %}');">
        <div class="display-t">
            <div class="display-tc">
                <div class="container" style="padding: 0">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="animate-box svg-sm colored">
                            <img src="{% static 'images/flaticon/svg/004-nature.svg' %}" class="svg"
                                 alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                            <h1 class="holder"><span>Свадьба</span></h1>
                            <h2>Владислав &amp; Екатерина</h2>
                            <p>11.09.2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="qbootstrap-couple" class="qbootstrap-section-gray">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 animate-box">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Мы женимся</h2>
                    <p>И у нас будет самая лучшая свадьба на свете. </p>
                    <p><strong>11 сентября 2021 &mdash; Харьков, Украина</strong></p>
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-6">
                <div class="couple groom text-center animate-box">
                    <img src="{% static 'images/groom.jpg' %}" class="img-responsive"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <div class="desc">
                        <h2>Пономарёв Владислав</h2>
                        <p>Жених, всегда жизнерадостный и весёлый человек, рад всех приветствовать на нашей свадьбе</p>
                        <ul class="social social-circle">
                            <li><a href="https://www.linkedin.com/in/vladyslav-ponomaryov-53b426119/"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/blackbirdvlad/"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="couple bride text-center animate-box">
                    <img src="{% static 'images/bride.jpg' %}" class="img-responsive"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <div class="desc">
                        <h2>Козлова Екатерина</h2>
                        <p>Самая лучшая и самая красивая женщина на планете земля. (Текст писал жених)</p>
                        <ul class="social social-circle">
                            <li><a href="https://www.linkedin.com/in/kateryna-kozlova/"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/katerinakaterina05/"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="qbootstrap-countdown" data-stellar-background-ratio="0.5"
     style="background-image: url('{% static 'images/cover_bg_2.jpg' %}');"
     data-section="wedding-day">
    <div class="overlay"></div>
    <div class="display-over">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-12 section-heading text-center svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg' %}"
                         class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2 class="">День свадьбы</h2>
                    <span class="datewed">Суббота, 11 сентября 2021</span>
                </div>
            </div>
            <div class="row animate-box">
                <div class="text-center counter">
                    <div class="countdown">
                        <div class="counter-days">
                            <span id="days"></span>
                            <span id="hours"></span>
                        </div>
                        <div class="counter-minutes">
                            <span id="minutes"></span>
                            <span id="seconds"></span>
                        </div>
                        <div>
                            <span style="display: none" id="demo"></span>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="qbootstrap-story" data-section="story">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm-2">
                    <img src="{% static 'images/flaticon/svg/003-luxury.svg' %}" class="svg"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Наша лав стори</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline animate-box">
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url({% static 'images/couple-1.jpg' %});"></div>
                        <div class="timeline-panel">
                            <div class="overlay"></div>
                            <div class="timeline-heading">
                                <h3 class="timeline-title mobile-font-size">Знакомство</h3>
                                <span class="date">4 Июня 2020</span>
                            </div>
                            <div class="timeline-body">
                                <p>Познакомились на почве того, что оба преподаём на курсах, и всего раз списавшись, уже
                                    не смогли больше этого не делать </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url('{% static 'images/couple-2.jpg' %}');"></div>
                        <div class="timeline-panel">
                            <div class="overlay overlay-2"></div>
                            <div class="timeline-heading">
                                <h3 class="timeline-title mobile-font-size">Первое свидание</h3>
                                <span class="date">8 Июня 2020</span>
                            </div>
                            <div class="timeline-body">
                                <p>Мы были в "трогательном" зоопарке, и это было очень мило, мы оба любим животных, у
                                    жениха кот, у невесты пёс</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url('{% static 'images/couple-3.jpg' %}');"></div>
                        <div class="timeline-panel">
                            <div class="overlay"></div>
                            <div class="timeline-heading">
                                <h3 class="timeline-title mobile-font-size">Отношения</h3>
                                <span class="date">15 Июня 2020</span>
                            </div>
                            <div class="timeline-body">
                                <p>С тех пор мы побывали в нескольких странах и в куче крутых мест, и не собираемся
                                    останавливаться</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url('{% static 'images/couple-4.jpg' %}');"></div>
                        <div class="timeline-panel">
                            <div class="overlay overlay-2"></div>
                            <div class="timeline-heading">
                                <h3 class="timeline-title mobile-font-size">Мы обручены</h3>
                                <span class="date"> 4 Июля 2020</span>
                            </div>
                            <div class="timeline-body">
                                <p>Всего через месяц жених понял, что не может без неё, а она сказала "да", потому что
                                    не может без него.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div id="qbootstrap-testimonials" class="qbootstrap-greetings" data-section="greetings"
     data-stellar-background-ratio="0.5" style="background-image: url('{% static 'images/cover_bg_1.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">


        <div class="row animate-box">
            <div class="col-md-12 section-heading text-center svg-sm colored">
                <img src="{% static 'images/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg' %}"
                     class="svg" alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                <h2 class="">Цвета нашей свадьбы</h2>
            </div>
        </div>
        <div class="row gradient-flex animate-box">
            <div class="gradient-1 gradient-size gradient-left"></div>
            <div class="gradient-2 gradient-size"></div>
            <div class="gradient-3 gradient-size"></div>
            <div class="gradient-4 gradient-size gradient-right"></div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 subtext  ">
                <h3 style="color: #ff847e; text-align: center">Очень хотелось бы, что бы вы были одеты в указанной цветовой гамме</h3>
            </div>
        </div>
    </div>
</div>

<div id="qbootstrap-people" data-section="people">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Команда жениха</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext  ">
                            <h3>Трое друзей которые будут отдуваться за жениха во всех конкурсах</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-lg">
            <div class="col-md-4 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/groom-man-1.jpg' %}" class="img-responsive"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h3>Денис</h3>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/groom-man-2.jpg' %}" class="img-responsive"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h3>Никита</h3>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/groom-man-3.jpg' %}" class="img-responsive"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h3>Евгений</h3>
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Команда невесты</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/bridesmaid-1.png' %}" class="img-responsive"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h3>Валерия</h3>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/bridesmaid-2.jpg' %}" class="img-responsive"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h3>Лилия</h3>
                </div>
            </div>
            <div class="col-md-4 text-center animate-box">
                <div class="groom-men">
                    <img src="{% static 'images/bridesmaid-3.png' %}" class="img-responsive"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h3>Алина</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="qbootstrap-when-where" data-section="when-where">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Церемония &amp; Вечеринка</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext">
                            <h3>Церемонию и вечеринку мы решили проводить в загороднем комплексе <a
                                    href="https://www.penates-kharkiv.com.ua/">ГД Пенаты</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg" style="background-image: url('{% static 'images/wed-ceremony.jpg' %}');"></div>
                    <div class="desc">
                        <h3>Свадебная церемония</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon"  style="margin-top: 20%;"><i class="fas fa-heart"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="fas fa-calendar"></i>
                                    <span>Суббота</span>
                                    <span>11 Сентября 2021</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="fas fa-clock"></i>
                                    <span>16:00</span>
                                    <span>17:00</span>
                                </div>
                            </div>
                        </div>
                        <p>Церемония пройдёт на улице, так что ждём вас в удобной обуви и в отличном настроении. Ждём
                            вас по возможности в цветах нашей свадьбы</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center animate-box">
                <div class="wedding-events">
                    <div class="ceremony-bg" style="background-image: url('{% static 'images/wed-party.jpg' %}');"></div>
                    <div class="desc">
                        <h3>Вечеринка</h3>
                        <div class="row">
                            <div class="col-md-2 col-md-push-5">
                                <div class="icon-tip">
                                    <span class="icon" style="margin-top: 20%;"><i class="fas fa-heart"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="fas fa-calendar"></i>
                                    <span>Суббота</span>
                                    <span>11 Сентября 2021</span>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-pull-1">
                                <div class="date">
                                    <i class="fas fa-clock"></i>
                                    <span>17:00</span>
                                    <span>Как пойдёт</span>
                                </div>
                            </div>
                        </div>
                        <p>Вечеринка так же пройдет на улице. Вас ждут, выездной бар, кенди бар, кавер группа,
                            замечательный ведущий с интересными
                            конкурсами</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="map" class="qbootstrap-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2586.1338445525394!2d36.33363781566643!3d49.59522537936657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127612a1de9fa2f%3A0xc50878448d741686!2z0JPQvtGB0YLRjNC-0LLQuNC5INC00ZbQvCAi0J_QtdC90LDRgtC4Ig!5e0!3m2!1sru!2sua!4v1621344340543!5m2!1sru!2sua"
                            width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="qbootstrap-started" class="qbootstrap-bg" data-section="rsvp" data-stellar-background-ratio="0.5"
     style="background-image: url('{% static 'images/cover_bg_1.jpg' %}');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Трансферы</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext">
                            <h3>Когда мы будем знать о том откуда и в какое время будут организованны трансферы, мы
                                добавим сюда карты :)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="qbootstrap-gallery" data-section="gallery" style="padding-bottom: 0">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="col-md-12 text-center section-heading svg-sm colored">
                    <img src="{% static 'images/flaticon/svg/005-two.svg' %}" class="svg"
                         alt="Free HTML5 Bootstrap Template by QBootstrap.com">
                    <h2>Наши фоточки</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 subtext">
                            <h3>Просто что бы вам было что посмотреть</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="owl-carousel">
                <div class="gallery animate-box">
                    <a class="gallery-img" href="{% static 'images/gallery-1.jpg' %}"><img
                            src="{% static 'images/gallery-1.jpg' %}" class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img" href="{% static 'images/gallery-10.jpg' %}"><img
                            src="{% static 'images/gallery-10.jpg' %}"
                            class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img " href="{% static 'images/gallery-6.jpg' %}"><img
                            src="{% static 'images/gallery-6.jpg' %}"
                            class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img " href="{% static 'images/gallery-2.jpg' %}"><img
                            src="{% static 'images/gallery-2.jpg' %}"
                            class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img " href="{% static 'images/gallery-5.jpg' %}"><img
                            src="{% static 'images/gallery-5.jpg' %}"
                            class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img " href="{% static 'images/gallery-7.jpg' %}"><img
                            src="{% static 'images/gallery-7.jpg' %}"
                            class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img " href="{% static 'images/gallery-3.jpg' %}"><img
                            src="{% static 'images/gallery-3.jpg' %}"
                            class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>
                </div>
                <div class="gallery animate-box">
                    <a class="gallery-img " href="{% static 'images/gallery-4.jpg' %}"><img
                            src="{% static 'images/gallery-4.jpg' %}"
                            class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>
                </div>
{#                <div class="gallery animate-box">#}
{#                    <a class="gallery-img " href="{% static 'images/gallery-8.jpg' %}"><img#}
{#                            src="{% static 'images/gallery-8.jpg' %}"#}
{#                            class="img-responsive"#}
{#                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>#}
{#                </div>#}
                <div class="gallery animate-box">
                    <a class="gallery-img " href="{% static 'images/gallery-9.jpg' %}"><img
                            src="{% static 'images/gallery-9.jpg' %}"
                            class="img-responsive"
                            alt="Free HTML5 Bootstrap Template by QBootstrap.com"></a>
                </div>
        </div>
    </div>
</div>

<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright text-center">&copy; 2021 <a href="{% url 'index' %}">Свадьба</a></p>
            </div>
        </div>
    </div>
</footer>

<button id="scrollTop" title="Go to top">Вернуться в начало</button>


<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- YTPlayer -->
<script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
<!-- Flexslider -->
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<!-- Owl Carousel -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Parallax -->
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<!-- Magnific Popup -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/magnific-popup-options.js' %}"></script>
<!-- Main JS (Do not remove) -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
